html {
    font-family: Roboto;
}

.header, .footer {
    background-color: #1F2937;
}

.white-background {
    background-color: white;
}

#quote-section {
    background-color: #E5E7EB
}

#main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}