html {
    font-family: Roboto;
}

.header, .footer {
    background-color: #1F2937;
}

.white-background {
    background-color: white;
}

#quote-section, .header-link p, #subtext {
    background-color: #E5E7EB
}

.main-title strong, .header-content strong {
    color: #F9FAF8;
}

.main-title strong {
    font-size: 48px;
    font-weight: 900;
}

.header-content strong {
    font-size: 24px;
}