* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

.header, .footer {
    background-color: #1F2937;
}

.white-background {
    background-color: white;
}

#quote-section {
    background-color: #E5E7EB;
}

.main-title strong, .header-content strong, .signup h4, .signup button, .signup {
    color: #F9FAF8;
}

.main-title strong {
    font-size: 48px;
    font-weight: 900;
}

.header-content strong {
    font-size: 24px;
}

.header-link p, .subtext {
    color:#E5E7EB;
    font-size: 18px;
}

.signup, .signup button {
    background-color: #3882F6;
}

.white-background h3, #quote-section p em {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.white-background h3 {
    font-weight: 900;
}

#quote-section p {
    font-weight: 300;
    font-style: italic;
}

.header-link p {
    padding-right: 110px; 
    padding-left: 100px;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid #3882F6;
}